
html{
    background: url("https://ak8.picdn.net/shutterstock/videos/1009989158/thumb/1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
}


.row-input {
    text-align: center;
}

.card {
    border-radius: 3%;
    margin: 15%;
    height: 50rem;
}

#prompt {
    font-size: 3vw;
}

.row {
    margin-right: 0px;
    margin-left: 0px; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.row-output {
    text-align: center;
    height: 24rem;
    max-width: 90%;
}

.row-output ul li {
    padding-left: 3rem;
    padding-top: .3rem;
}

input {
    margin-top: .5rem;
    width: 90%;
    border-width: .3rem;
    font-size: 3vw;
    text-align: center;
    border-radius: 2%;
    border: 1px solid #CD3B28;
    box-shadow: none;
}

.input:hover {
    box-shadow: 3px 3px 3px 3px grey;
}

button {
    width: 90%;
    margin-top: .5rem;   
    font-size: 3vw;
    background-color: #CD3B28;
    border-width: .3rem;
    border-color: #CD3B28;
    color: white;
    font-weight: 900;
    letter-spacing: .4rem;
    border-radius: 2%;
}